.home {
  background: #ededed;
  padding-top: 25px;
  min-height: 100vh;
}

// --- Navbar styles ---
.nav-bar {
  .nav-download-btn {
    border: 1px solid #fff;
  }
}

// --- banner section ---
.banner-section {
  background-color: #2042b6;
  background-image: url("../../../public/images/bg-mask-group.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  background-blend-mode: multiply;

  .rectangle-image {
    @apply hidden sm:flex sm:justify-center sm:items-center sm:z-10;
  }

  .banner-left-side {
    @apply relative top-44 z-20 gap-y-5 flex flex-row flex-wrap justify-around text-white sm:absolute sm:top-auto sm:bottom-[-40px] sm:left-0 sm:right-0 sm:gap-5 lg:flex-col lg:gap-[40px] lg:pl-[40px];
  }

  .banner-content {
    width: 100%;
    text-align: center;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 30;
  }

  @media (min-width: 1024px) and (max-width: 1280px) {
    & {
      background-size: 450px 450px;

      .banner-content {
        top: 48%;
        h1 {
          font-size: 48px;
        }
        p {
          font-size: 16px;
        }
      }
      .rectangle-image {
        img {
          width: 50%;
        }
      }
    }
  }

  @media (min-width: 640px) and (max-width: 1023px) {
    & {
      background-size: 400px 400px;
      .banner-content {
        h1 {
          font-size: 50px;
        }
        p {
          font-size: 18px;
        }
      }
      .rectangle-image {
        img {
          width: 70%;
        }
      }
    }
  }

  @media (min-width: 320px) and (max-width: 639px) {
    & {
      background-image: none;
      padding: 0 8px;
      min-height: 340px;
      .banner-content {
        top: 60px;
        transform: translate(-50%, 0%);
      }
    }
  }
}

// --- Dashboard section ---
.dashboard {
  position: relative;
  .active-link {
    @apply bg-[#2042B6] text-white;
  }
  .das-share-icon {
    border: 1px solid #afcd80;
  }
  .dash-nav-download-btn {
    border: 1px solid #115cd9;
  }

  .drop-down-btn {
    .p-dropdown {
      padding: 9px 10px;
      background-color: #2042b6;
      border: none !important;
      outline: none !important;
      .p-dropdown-label {
        color: #fff;
        font-size: 12px;
      }
      .p-dropdown-trigger {
        .p-icon {
          path {
            fill: #fff !important;
          }
        }
      }
    }
  }

  canvas {
    cursor: pointer;
  }
}

// --- state of USA section ---
.state-usa {
  .drop-down-btn {
    .p-dropdown {
      padding: 15px 20px;
      background-color: #2042b6;
      border: none !important;
      outline: none !important;
      .p-dropdown-label {
        color: #fff;
        font-size: 42px;
        font-family: "Nantes";
      }
      .p-dropdown-trigger {
        .p-icon {
          path {
            fill: #fff !important;
          }
        }
      }
    }
  }
}

// --- all companies section ---
.all-companies {
  @apply mt-[60px] bg-white rounded-[20px];

  .company-search-input {
    padding: 17px 0;
    padding-right: 19px;
    padding-left: 52px;
    border: 1px solid #dadada;
    outline: none;
    border-radius: 10px;
    font-size: 24px;
    font-family: "Nantes";
    color: #191618;
    font-weight: 400;
    background-color: #f3f3f3;
    width: 100%;
  }
  .company-table-data {
    .p-datatable {
      .p-datatable-wrapper {
        thead {
          tr {
            th {
              background: #fff;
              border: none;
              padding: 15px 15px;
              font-weight: 400;
              color: #000;
              font-size: 14px;
              &:first-child {
                font-size: 16px;
                font-weight: bold;
              }
            }
          }
        }
        tbody {
          tr {
            background: #f3f3f3;

            &.p-row-odd {
              background: #fff;
            }
            td {
              padding: 15px 15px;
              border: none;
              font-family: "Nantes";
              font-size: 16px;
            }
          }
        }
      }
    }
  }
}

// --- footer section ---
.footer-wrapper {
  position: relative;
  width: 100%;
  .footer-container {
    max-width: 1180px;
    margin: 0 auto;
    background-color: #e6e6e6; /* Set the container background color if needed */
    position: relative;
    z-index: 1;
    border-top-right-radius: 10px;

    .address {
      padding-bottom: 30px;
      border-bottom: 1px solid #9fa0a1;
    }
  }
  &::after,
  &::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: calc((100% - 1180px) / 2);
    z-index: 0;
  }
  &::after {
    left: 0;
    background-color: #e6e6e6;
  }
  &::before {
    right: 0;
    background-color: #ededed;
  }
}
