@tailwind components;
@tailwind utilities;

// --- import app.scss file ---
@import "../styles/app.scss";

/* ----------------------------- */
/* --- Basic setup --- */
/* ----------------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul li {
  list-style-type: none;
}

/* ----------------------------- */
/* --- Reusable class --- */
/* ----------------------------- */
.container {
  max-width: 1316px;
  margin: 0 auto;
}

.p-dropdown-panel {
  margin-top: 10px;
  .p-dropdown-items {
    li {
      padding: 10px;
    }
  }
}

.slick-prev {
  left: 0px !important;
  top: 108% !important;
}

.slick-next {
  right: -25px !important;
  left: 70px !important;
  top: 108% !important;
}

.slick-prev:before,
.slick-next:before {
  font-size: 56px !important;
  color: #fff !important;
}
.slick-next.slick-disabled:before,
.slick-prev.slick-disabled:before {
  opacity: 1 !important;
}
