@tailwind components;
@tailwind utilities;

// --- import app.scss file ---
@import "../styles/app.scss";

/* ----------------------------- */
/* --- Basic setup --- */
/* ----------------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul li {
  list-style-type: none;
}

/* ----------------------------- */
/* --- Reusable class --- */
/* ----------------------------- */
.container {
  max-width: 1316px;
  margin: 0 auto;
}

.das-share-icon {
  border: 1px solid #afcd80;
}
.dash-nav-download-btn {
  border: 1px solid #115cd9;
}

.p-dropdown-panel {
  margin-top: 10px;
  .p-dropdown-items {
    li {
      padding: 10px;
    }
  }
}

// --- responsive custom breakpoint ---
@media (min-width: 320px) and (max-width: 1023px) {
  .space-horizontal {
    padding: 0 10px;
  }
}

@media (min-width: 1024px) and (max-width: 1320px) {
  .space-horizontal {
    padding: 0 20px;
  }
}
